# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Below users will be requested for review when someone opens a pull request.
*       @akira-2112 @kzk-maeda
